### OceanSITES GDAC Dataset Conventions Compliance Report 
*Using the Python utility compliance_report.py to assess CF-1.6 and ACDD compliance of two example sites *

Execute at a shell prompt a compliance report for sites MBARI and PAPA:
```
time python compliance_report.py --test cf:1.6 acdd --format summary http://data.nodc.noaa.gov/thredds/catalog/ndbc/oceansites/DATA/MBARI/catalog.xml https://data.nodc.noaa.gov/thredds/catalog/ndbc/oceansites/DATA/PAPA/catalog.xml > OS_MBARI_PAPA.csv
```
    
This about 25 minutes to complete. Once it is done and has written the `OS_MBARI_PAPA.csv` file execute the following cells.

__Note:__

> I had to edit the file to remove two lines:
```
Failed to get report for https://data.nodc.noaa.gov/thredds/dodsC/ndbc/oceansites/DATA/PAPA/OS_PAPA_2011PA005_D_ADCP-1day.nc
Unknown service with content-type: text/plain; charset=UTF-8
```
There is something wrong with that file on the GDAC.


Open a Jupyter Notebook browser window by executing at the command line:
```
jupyter notebook
```

Then open this file and execute the cells.

Create a Pandas dataframe of the csv data:

In [1]:
import pandas as pd
df = pd.read_csv('OS_MBARI_PAPA.csv')

Add a column that is the site name pulled out of the url column:

In [2]:
df['site'] = df.url.str.split('/').str[8]

Print summary compliance scores for each site:

In [3]:
df.groupby('site').agg(['count', 'mean', 'min', 'max'])

       acdd                        cf:1.6
      count       mean   min   max  count       mean   min    max
site
MBARI    63  69.053968  61.0  78.9     63  98.693651  97.5  100.0
PAPA     72  73.943056  52.6  78.2     72  99.412500  95.0  100.0